<!--The content below is only a placeholder and can be replaced.-->
<div class="container mt-5">
  <div class="row">
    <div class="col-xs-6 offset-2">
      <div class="jumbotron">
        <h3>Parent Component</h3>
        <hr class="my-2">       
        <p class="lead text-center">
          <button class="btn btn-primary btn-lg" (click)="updateMessage()">Set Next Value</button>
        </p>
      </div>
    </div>
    <div class="col-xs-6 ml-5">
      <div class="jumbotron">
        <h3>Child Component</h3>
        <hr class="my-2">       
        <p class="lead">
          <!-- Child Component Here -->
          <app-child [parentMessage]="messageBS"></app-child>
        </p>
      </div>
    </div>
  </div>
</div>
